body {
    height:100vh;
    background: #e2e7ed;
    width: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}

h2 {
    font: rem(20px, 22px) $gotham-bold;
    color: #232323;
    padding-bottom: 10px;
}

.gmap {
    &-app {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    
    &__map {
        flex-basis: 70%;
        height: 700px;
    }
    
    &__sidebar {
        flex-basis: 30%;
        background: #fff;
        padding: 10px 15px;
    }
    
    &__search {
        input {
            @include placeholder();
            height: 40px;
            border: 1px solid #ccc;
            width: 100%;
            padding: 0 10px;
            font: rem(14px, 10px) $gotham-bold;
        }
    }
}


